.textCenter {
    color: white;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-left: auto;
    padding-right: auto;
    background-color: #3f51b5;
}

.logo {
    height: 50px;
}