.fullscreenbg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreenbg__video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreenbg__video {
        width: auto;
        min-width: 100vw;
        height: 100vh;
        top: 0;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}